.btn {
    background-color: #007bff;
    color: #fff;
}

.btn:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    color: #fff;
}

.btn:focus {
    color: #fff;
}

.error p {
    color: #cc0000;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    border-color: #cc0000;
}


}
