.wrapper {
    padding-top: 150px;
}

.btn {
    /* background-color: #007bff; */
    background-color: #424242;
    color: #fff;
}

.btn:hover {
    /* background-color: #0069d9; */
    background-color: #262626;
    /* border-color: #0062cc; */
    border-color: #262626;
    color: #fff;
}

.btn:focus {
    color: #fff;
}

.error p {
    color: #cc0000;
    padding: 6px;
    border: 1px solid #cc0000;
    border-radius: 3px;
}

.error.ng-scope {
    background-color: #f2dede;
}

body {
    /* background-color: #222; */
    background: url(images/fat-pig.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-control {
    opacity: .8;
}

.title {
    color: #fff;
    text-align: center;
}

.border {
    border: 3px solid #47CC75;
    /* border: 3px solid #0ACC4D; */
    /* border: 3px solid #0DFF60; */
    /* border: 3px solid #59FF92; */
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

h1.pig-text {
    text-align: center;
    color: #fff;
    /* color: #000; */
}

h1.random {
    margin-bottom: 20px;
    text-align: center;
}
