.wrapper {
    padding-top: 150px;
}

.btn {
    background-color: #424242;
    color: #fff;
}

.btn:hover {
    background-color: #262626;
    border-color: #262626;
    color: #fff;
}

.btn:focus {
    color: #fff;
}

.error p {
    color: #cc0000;
    padding: 6px;
    border: 1px solid #cc0000;
    border-radius: 3px;
    background-color: #f2dede;
}

body {
    background: url(images/fat-pig.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-control {
    opacity: .8;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    text-shadow: 1px 1px 1px #000;
}

.border {
    border: 3px solid #47CC75;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.no-border {
    display: none;
}

h1.pig-text {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

h1.random {
    margin-bottom: 20px;
    text-align: center;
}

.form-control {
    border: 1px solid #424242;
}
